<div class="container-jsi__sections__header">
    <div class="flex-start input-icons">
        <h1>Listado de personajes</h1>
        <i class="material-icons icon">search</i>
        <input #in (keyup)="searchCharacter.emit(in.value)" (change)="searchCharacter.emit(in.value)" type="text" class="input"
            placeholder="Buscar">
    </div>
    <div class="header-buttons">
        <button (click)="logoutEvent.emit(true)"><span class="material-icons">logout</span>Cerrar sesión</button>
        <button (click)="newEvent.emit(true)"><span class="material-icons">add</span>Nuevo</button>
    </div>
</div>