
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
    i {
        position: absolute;
    }
}
  
.icon {
    padding: 15px;
    min-width: 40px;
    color: #8a8a8a;
}
  
.input {
    text-align: center !important;
}