<div class="container-jsi flex-center-empty columns">
    <app-header class="container-jsi__sections" (searchCharacter)="searchCharacter($event)"
    (logoutEvent)="handlerLogout()" (newEvent)="handlerNewEvent()"></app-header>
    <app-character-form *ngIf="showFormCharacter" class="container-jsi__sections" [characterToEdit]="characterToEdit" [hasEditCharacter]="hasEditCharacter" 
    (handleCancel)="handlerCancel($event)" (dataToSave)="processAction($event)"></app-character-form>
    <app-character-card class="container-jsi__sections" [characters]="charactersMarvel" (delete)="deleteCharacter($event )" (edit)="editCharacter($event)"></app-character-card>
</div>