@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
$color-text: #7d7c7e;
$color-button: #c40202;
$color-body: #f8f7f7;

* {
    font-family: "Roboto", sans-serif;
}

body {
    background: $color-body;
}

input {
    min-width: 15em;
    min-height: 3em;
    border: 1px solid #b9b9b9;
    &::placeholder {
        color: #909090;
    }
    margin: 0.5em;
    border-radius: 2px;
    padding-left: 0.9em;
}

h1{
    color: $color-text;
}

button {
    width: 100%;
    min-height: 3.2em;
    border: 1px solid black;
    background-color: $color-button;
    border-radius: 2px;
    color: #f8f7f7;
    &:disabled {
        background: #ccc;
    }
    text-align: left;
    font-weight: bold;
    padding-left: 0.9em;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-empty {
    display: flex;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.columns {
    flex-direction: column;
}

.margin-05 {
    margin: 0.5em;
}

.margin-t-1 {
    margin: 1em;
}

.container-jsi {
    width: 100vw;
    height: 100vh;
    &__card-login {
        background: #fff;
        width: 21.8em;
        height: 21.8em;
    }

    &__sections {
        width: 60em;
        height: 50em;
        &__header {
            width: 100%;
            height: 100%;
            background: $color-body;
        }
    }
}
